*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    scroll-behavior: smooth;
  }


header{
    padding: 25px;
    height: 90vh;
    width: 100vw;
    background: url(img/guitar.jpg)
                rgba(198, 198, 198, 0.691);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    border: none;
}
.container{
    position: absolute;
    color: black;
    z-index: 5;
    font-size: 25px;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.container h1{
    margin-bottom: 50px;
    letter-spacing: 2px;
    text-align: center;
}
form{
    position: relative;
    display: flex;
    width: 300px;
}
input{
    width: 100%;
    max-width: 100%;
    height: 30px;
    padding: 15px 30px;
    border: none;
    outline: none;
    border-radius: 5px;
}
button{
    width: 100px;
    max-width: 100%;
    background: silver;
    position: absolute;
    right: 2px;
    bottom: 2px;
    top: 2px;
    font-weight: 400px;
    border: none;
    outline: none;
    border-radius: 3px;
}
small{
    position: absolute;
    top: 20px;
    left: 18px;
    width: 350px;
    font-weight: 300px;
    color: white;
    font-weight: 900;
}

#result{
    color: black;
    text-align: center;
    margin-top: 20px;
    position: relative;
}
.song-list{
    list-style: none;
    display: flex;
    flex-flow: column;
    /* position: absolute;
    left: 50%; */
    justify-items: center;
    text-align: center;
    align-items: center;
}
.song-list li{
    justify-content: space-evenly;
    font-size: 20px;
    width: 700px;
    border-bottom: 2px dotted black;
}
#result > ul > li:last-child{
    border: none;
}
#myImage{
    display: flex;
    /* flex-flow: column; */
    align-items: center;
    padding-top: 10px;
}
.song-list li::after{
    content: "";
    position: absolute;
    right: -20px;
    left: -20px;
    bottom: -4px;
    height: 3px;
    display: inline-block;
}
/* .song-list li div{
    float: left;
} */
.song-list li span{
    float: right;
    border: none;
    font-size: 19px;
    color: black;
    cursor: pointer;
    padding: 4px 10px;
    background-color: silver;
    border-radius: 5px;
    padding: 4px 10px;
}